In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('weather_data.csv')

df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
df.shape

(6, 4)

In [4]:
df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [5]:
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [6]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [7]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [8]:
df[2:5]['temperature']

2    28
3    24
4    32
Name: temperature, dtype: int64

In [9]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [10]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [11]:
df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
type(df['event'])

pandas.core.series.Series

In [14]:
df[['day','event']]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny

In [15]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [16]:
df['windspeed'].describe()

count    6.000000
mean     4.666667
std      2.338090
min      2.000000
25%      2.500000
50%      5.000000
75%      6.750000
max      7.000000
Name: windspeed, dtype: float64

In [17]:
df['windspeed'].max()

7

In [18]:
df['windspeed'].min()

2

In [19]:
df['windspeed'].mean()

4.666666666666667

In [20]:
df['windspeed'].sum()

28

In [21]:
df['windspeed'].count()

6

In [22]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [23]:
df.temperature

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [24]:
df[df.temperature==df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [25]:
df[['day', 'temperature']][df.temperature==df.temperature.max()]

        day  temperature
1  1/2/2017           35